a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 0;
    padding: 0;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #EE8D47;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

#container {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0;
    min-height: 500px;
    width: 700px;
    padding: 15px;
}

.title {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 4em;
    font-weight: 700;
}

.subHeader {
    margin: 0 0 75px 0;
    padding: 0;
    font-size: .9em;
}

.input {
    display: block;
    padding: 10px;
    margin: 0 0 25px 0;
    width: 100%;
    font-size: 0.85em;
    box-sizing: border-box;
}

.button {
    margin: 0 15px 0 0;
}

.hr {
    margin: 25px 0 50px 0;
}

.listContainer {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.listItem {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.completed {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.35);
    pointer-events: none;
}

input {
    border: 1px solid rgba(255, 255, 255, 0.10)
  }

  @media (prefers-color-scheme: light) {
    a:hover {
      color: #747bff;
    }
    button {
      background-color: lightgrey;
      border: 1px solid rgba(0, 0, 0, 0.10);
    }
  
    button:hover {
      border-color: #2E4764;
    }
  
    input {
      border: 1px solid rgba(0, 0, 0, 0.10)
    }
  
    .completed {
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.35);
      pointer-events: none;
    }
  }